<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js"></script>
</head>
<body>
    <div id="app">{{ message }}</div>
    <div id="app-2">
        <span v-bind:title="message">
            check this layout!
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">now I can see myself!</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
</body>
</html>
